* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    border-collapse: collapse;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.box {
    width: 1500px;
    color: antiquewhite;
    margin: 0 auto;
}

.first-table tr td{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 2px;
    border: 2px solid black;
}

.first-table td {
    width: 200px;
    height: 200px;
    background-color: green;
}

.first-table .grey {
background-color: grey;
}

.first-table .liliac {
background-color: plum;
}

.first-table .blue {
    background-color: blue;
}

.first-table .rose {
    background-color: rosybrown;
}

.first-table .emerald {
    background-color:rgb(6, 24, 1);
}

.first-table .sunnystone {
    background-color: rgb(109, 54, 2);
}

.second-table {
    background-color: #fff;
    font-family: monospace;
    

}
.head {
    background: black;
    padding: 20px 0;
}

.head h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: black;
}


.container{
    width: 1100px;
    margin: 0 auto;
}
.table-section {
    padding: 60px 0;
    margin: 0 auto;
}

.table-data {
    width: 1100px;
    background-color: #ffffff;       
    border: 1px solid #e4e4ef;
    border-radius: 8px;
        
}

.table-data,
.table-data th,
.table-data td {    
    padding: 18px 16px;   
    box-shadow: inset 0 -1px 0 0 #e4e4ef
}

.table-data th {

    text-align: left;
    font-weight: 700;
    font-size: 14px;        
    width: 400px;
}

p {
    font-size: 12px;
    color: #808080;
}

.table-data th + th + th {
    width: 158px;
}

.table-data .last-item {
    width: 144px;
    text-align: center;
    padding: 14px 16px;    ;
    background: #fff;
}

.btn {
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    border-radius: 12px;
    padding: 4px 24px;
    width: 83px;    
    background: #f8f9fb;
    
   }

.btn.green {
    color: #31aa27;
    background: #ebf6eb;
}

.btn.blue {
    color: #605dec;
    background: #ededfe;
}

.btn.orange {
    color: #e99518;
    background-color: #fff4e4;
}

.btn.red {
    color: #f93232;
    background-color: #fff0f0;
}

.btn.grey {
    color: #bdbcdb;
    background-color: #f8f9fb;
}